<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="expat.v141" version="2.2.9" targetFramework="native" />
  <package id="log4cxx-v141" version="0.10.0-stable" targetFramework="native" />
  <package id="log4cxx-v141.redist" version="0.10.0-stable" targetFramework="native" />
</packages>